@use '../../styles/colors.scss';

.wrapper{
    margin: auto;
    position: relative;
    top: 30vh;
}

.info{
    margin: auto;
    position: relative;
    padding: 15px;
    width: 400px !important;
    height: 200px;
    background-color: colors.$secondary_main;
}