
.wrapper{
    max-width: 80%;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    padding: 25px;
    display: grid;
    opacity: 0.3;
    margin: auto;
    margin-top: 10px;
}

.success{
    background-color: #47d047;
    padding: 7px;
    border-radius: 10rem;
}